
body {
    margin: 0px;
}
h1 {
    color: black;
    text-align: center;
    font-family: sans-serif;
}
p {
    color: black;
}
.wrapper {
    text-align: center;
    display: inline-block;
}
button {
    font-family: sans-serif;
    height: 40px;
    width:  300px;
    background-color: magenta;
    padding: 10px;
    margin: 10px;
}
.centreButtons {
    text-align: center;
    align-content: center;
    display: block;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    left: 50%
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    color: darkorchid;
    padding: 10px;
}
th {
    border: 1px solid black;
    padding: 10px;
}
.menu {
    width: 100%;
    background-color: magenta;
    color: white;
    font-family: sans-serif;
}
.menu-item {
    display: inline-block;
    font-size: 24;
    color: white;
    padding: 10px;
}
.menu-item:hover{
    background-color: darkslateblue;
    cursor: pointer;
}
.menu-item:hover .dropdown{
    height: 50px;
    width: 100px;
    background-color: magenta;
    position: absolute;
    top: 38px;
    display: block;
}
.headSpace {
    height: 50px;
}
.container {
    background-color: cyan;
    text-align: center;
    position: relative;
    margin: auto;
    border: 20px;
    padding: 100px;
    width: 70%;
    display: block;
}
.dropdown {
    display: none;
}
.dropdown-item:hover {
    background-color: darkturquoise;
}